# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# GCP
*-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f].json

# 環境變數
.env
*.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# 日誌文件
*.log
